@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: white;
}

#triangle{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
  animation: slide 0.8s forwards;
}
@keyframes slide {
  0%{
    transform: translateX(1000px);
  }
  100%{
     transform: translateX(0px);
  }
}

.swiper-button-prev{
  display: none;
  opacity: 0;
}
.swiper-button-next{
  opacity: 0;
  display: none;
}