@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

#triangle {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
  animation: slide 0.8s forwards;
}
@keyframes slide {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.swiper-button-prev {
  display: none;
  opacity: 0;
}
.swiper-button-next {
  opacity: 0;
  display: none;
}

.image-loop {
  width: 100%; /* Full width of the container */
  overflow: hidden; /* Hide the overflow to show only one row */
  white-space: nowrap; /* Prevent wrapping of images */
}

.images {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

.images img {
  width: 200px; /* Set a fixed width for each image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between images */
  display: inline-block; /* Keep images in a single line */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gradient {
  background-color: #f10000;
  background-image: radial-gradient(
      at 95% 46%,
      hsla(355, 0%, 0%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 6% 51%, hsla(358, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 64%, hsla(358, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 88%, hsla(359, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 31% 90%, hsla(357, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 8% 86%, hsla(357, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 88%, hsla(357, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 40% 20%, #f10000 0px, transparent 50%),
    radial-gradient(at 0% 0%, #f10000 0px, transparent 50%);
}
.btn_gradient {
  background-color: #f10000;
  background-image: radial-gradient(at 80% 20%, #f10000 0px, transparent 50%),
    radial-gradient(at 55% 23%, hsla(357, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 18% 23%, #f10000 0px, transparent 50%),
    radial-gradient(at 86% 91%, #f10000 0px, transparent 50%),
    radial-gradient(at 65% 77%, hsla(355, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, #f10000 0px, transparent 50%),
    radial-gradient(at 0% 0%, #f10000 0px, transparent 50%);
}
.map {
  min-height: 500px;
  filter: grayscale(100%) invert(100%) contrast(100%);
}

.cta-gradient {
  background-color: #f10000;
  background-image: radial-gradient(
      at 4% 17%,
      hsla(21, 0%, 0%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 42% 0%, hsla(21, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 45%, hsla(20, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 73% 0%, hsla(23, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 42%, hsla(23, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 6%, hsla(23, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 5%, hsla(25, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 100%, hsla(343, 0%, 0%, 1) 0px, transparent 50%);
}

/* Define the keyframes for the rotate animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to an element */
.rotate-element {
  animation: rotate 5s linear infinite;
}

.author-gradient {
  background-color: #f10000;
  background-image: radial-gradient(
      at 75% 96%,
      hsla(240, 0%, 0%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 50% 38%, hsla(342, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 76%, hsla(13, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 5%, hsla(240, 0%, 1%, 1) 0px, transparent 50%),
    radial-gradient(at 8% 13%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 89%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 7% 94%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 62%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 38%, hsla(4, 91%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 19% 50%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 23%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 0%, 0%, 1) 0px, transparent 50%);
}

html {
  scroll-behavior: smooth;
}

.card-gradient {
  background-color: hsla(0, 100%, 47%, 1);
  background-image: radial-gradient(
      at 90% 88%,
      hsla(240, 0%, 0%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 22% 21%, hsla(0, 100%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 67% 97%, hsla(0, 100%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 8% 26%, hsla(0, 100%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 40%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 95%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 6% 91%, hsla(341, 0%, 0%, 1) 0px, transparent 50%);
}

.map-gradient {
  background-color: hsla(261, 0%, 0%, 1);
  background-image: radial-gradient(
      at 91% 77%,
      hsla(240, 0%, 0%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 51% 30%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 2%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 92% 50%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 18% 47%, hsla(240, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(0, 100%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(0, 100%, 47%, 1) 0px, transparent 50%);
}
